@{
    ViewData["Title"] = "Contact";
}

<div class="section-content">
    <h2>Contact Us</h2>
    <p>If you have any questions or comments, please contact us using the information below:</p>
    @Html.Partial("_ContactInfo")
</div>
