@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}

<main>
    <section class="hero">
        <h2>Time is of the Essence – wear it wisely</h2>
        <p>Explore our exclusive watches</p>
    </section>

    <!-- Produkterna -->
    <section class="products">
        <!-- Trailmaster-kort -->
        <article class="product-card index-product-card">
            <!-- Klickbar bild + titel -->
            <a asp-controller="Home" asp-action="Vector">
                <img src="@Url.Content("~/images/VectorV1.png")" alt="OT Vector" />
                <h3>OT Vector</h3>
            </a>
            <p>Pris: 49 999 SEK</p>
            <!-- Klickbar knapp -->
            <a asp-controller="Home" asp-action="Vector">
                <button>More information</button>
                <button>Buy now</button>
            </a>
        </article>
    </section>
</main>
