<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OurTime.WebUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OurTime.WebUI.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>

<body>
    <header>
        <div class="logo-container">
            <img src="/images/OT.jpg" alt="Logotyp för OurTime" />
        </div>

        <h1>OT Watches</h1>
        <p class="slogan">Time You Can Wear</p>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Watches">Watches</a></li>
                <li><a asp-controller="Home" asp-action="About">About us</a></li>
                <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                <li><a asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                @if (User.Identity?.IsAuthenticated == true)
                {
                    <li><span>Hej @User.Identity.Name!</span></li>
                    <li><a asp-controller="Account" asp-action="Logout">Logga ut</a></li>
                }
                else
                {
                    <li><a asp-controller="Account" asp-action="Register">Registrera</a></li>
                    <li><a asp-controller="Account" asp-action="Login">Logga in</a></li>
                }
            </ul>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <p>&copy; 2025 OurTime</p>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
